<%= simple_form_for(@user) do |f| -%>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <% if can? :manage, User %>
      <%= f.input :role, :collection => User::ROLES.collect {|r| [r.humanize, r]}, :prompt => false %>
    <% end %>
  </div>

  <div class="actions">
    <ul class="inline-list">
      <li><%= f.submit "Update", class: "button" %></li>
      <li><%= link_to "Delete", @user, :method => :delete, :confirm => "Are you sure?", class: "button secondary" %></li>
  </div>

<% end -%>
