%h1 Users
= form_tag '/users/manage' do
  - User::ROLES.reverse.each do |role|
    %h4= role.pluralize.humanize
    - if @users[role].blank?
      %p.alert-box.secondary There are no #{ role.pluralize }.
    - else
      %table.large-12
        %thead
          %tr
            %th.id ID
            %th.email Email
            %th.name Name
            %th.role Role
            %th.actions Actions

        %tbody
          - @users[role].each do |user|
            %tr
              = hidden_field_tag "users[][id]", user.id
              %td.id= user.id
              %td.email= user.email
              %td.name= user.name
              - if user == current_user
                %td.role= user.role.humanize
                %td.actions
              - else
                %td.role= select_tag "users[][role]", options_for_select(User::ROLES.reverse.collect {|r| [r.humanize, r] }, user.role)
                %td.actions
                  = link_to "Edit", edit_user_path(user)
                  = link_to "Delete", user, :confirm => "Are you sure you want to delete #{user.name}?", :method => :delete

  %p= submit_tag "Update Users", class: "button"
