<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :priority, :collection => Ticket::Priorities.collect{|p| p.humanize }, :prompt => false %>
    <%= f.input :subject %>
    <%= f.input :body %>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
