<h2>Your tickets</h2>
<% Ticket::Statuses.each do |status| %>
  <%- reset_cycle("row") -%>
  <div class="group <%= status %>">
  <h3><%= status.humanize %> tickets</h3>
  <% if @tickets[status].to_s.empty? %>
    <p class="no-tickets">No <%= status %> tickets.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Subject</th>
          <th>Priority</th>
        </tr>
      </thead>

      <% tickets = @tickets[status].group_by {|t| t.priority }; Ticket::Priorities.reverse.each do |priority| %>
        <% unless tickets[priority].to_s.empty? %>
          <% tickets[priority].each do |ticket| %>
            <tr id="ticket-<%= ticket.id %>" class="<%= cycle('odd','even', :name => "row") %> <%= ticket.priority %> <%= ticket.status %>">
              <td class="id"><%= link_to ticket.id, ticket %></td>
              <td class="date"><%= ticket.date %></td>
              <td class="subject"><%= link_to ticket.subject, url_for(ticket) %></td>
              <td class="priority"><%= ticket.priority.humanize %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  <% end %>
  </div>
<% end %>

<p><%= link_to 'Submit New Ticket', new_ticket_path %></p>