%ul.breadcrumbs
  %li= link_to "Tickets", tickets_path
  %li= @ticket.id

%table.small-12.medium-6
  %tr
    %th{ scope: "row"} From:
    %td= @ticket.user
  %tr
    %th{ scope: "row" } Assigned to:
    %td
      = @ticket.agent
      (#{link_to "Change", edit_ticket_path(@ticket)})
  %tr
    %th{ scope: "row" } Status:
    %td
      = @ticket.status.humanize
      (#{link_to "Change", edit_ticket_path(@ticket)})
  %tr
    %th{ scope: "row" } Priority:
    %td
      = @ticket.priority.humanize
      (#{link_to "Change", edit_ticket_path(@ticket)})
  %tr
    %th{ scope: "row" } Subject:
    %td
      = @ticket.subject

= markdownify @ticket.body

%hr/

%h2 Comments
- @ticket.activity.each do |activity|
  - if activity.class.to_s == "Comment"
    = render "tickets/comment", comment: activity
  - else
    = render "tickets/version", version: activity

%h3 Add a new comment
= simple_form_for [@ticket, @comment] do |f|
  %p= f.input :body, input_html: { rows: 5 }
  %p
    %em Processed with Markdown
  - if current_user.role?(:agent)
    %p= f.input :sent_to_user, label: "Send email notification"

  %p= f.submit "Add Comment", class: "button"
