%ul.breadcrumbs
  %li= link_to "Tickets", tickets_path
  %li= @ticket.id

%table
  %tr
    %th{ scope: "row"} From:
    %td= @ticket.user
  %tr
    %th{ scope: "row" } Assigned to:
    %td
      = @ticket.agent
      (#{link_to "Change", edit_ticket_path(@ticket)})
  %tr
    %th{ scope: "row" } Status:
    %td
      = @ticket.status.humanize
      (#{link_to "Change", edit_ticket_path(@ticket)})
  %tr
    %th{ scope: "row" } Priority:
    %td
      = @ticket.priority.humanize
      (#{link_to "Change", edit_ticket_path(@ticket)})
  %tr
    %th{ scope: "row" } Subject:
    %td
      = @ticket.subject

= markdownify @ticket.body

%hr/

%h2 Comments
- @ticket.comments.each do |comment|
  %div.panel
    %strong= comment.user
    = raw("<em>(Sent to user)</em>") if comment.sent_to_user?
    %br/
    = comment.created_at.strftime("%I:%M%p %b %d")
    %p= markdownify comment.body

%h3 Add a new comment
= simple_form_for [@ticket, @comment] do |f|
  %p= f.input :body
  %p
    %em Processed with Markdown
  - if current_user.role?(:agent)
    %p= f.input :sent_to_user, :label => "Send to user"
  %p= f.submit "Add Comment"
