<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ticket.user %>
</p>

<p>
  <b>Agent:</b>
  <%= @ticket.agent %>
</p>

<p>
  <b>Priority:</b>
  <%= @ticket.priority %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<p>
  <b>Body:</b>
  <%=markdownify @ticket.body %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<h2>Comments</h2>

<% @ticket.comments.each do |comment| %>
<p>
  <strong><%= comment.user %></strong><br/>
  <%= comment.created_at.strftime("%I:%M%p %b %d") %>
</p>
<%=markdownify comment.body %>
</p>
<hr/>
<% end %>

<h3>Add a new comment</h3>
<%= form_for [@ticket, @comment] do |f| %>
  <p><%= f.text_area :body %></p>
  <p><em>Processed with Markdown</em></p>
  <% if current_user.role?(:agent) %>
  <p><%= check_box_tag 'send_to_user' %> <%= label_tag 'send_to_user' %></p>
  <% end %>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
