<%= link_to raw('&larr; Back'), tickets_path %>
<% if current_user.role? :agent %>| <%= link_to 'Edit', edit_ticket_path(@ticket) %><% end %>

<p>
  <b>User:</b>
  <%= @ticket.user %>
<br/>
  <b>Agent:</b>
  <%= @ticket.agent %>
<br/>
  <b>Priority:</b>
  <%= @ticket.priority %>
<br/>
  <b>Status:</b>
  <%= @ticket.status %>
<br/>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<%=markdownify @ticket.body %>

<hr/>

<h2>Comments</h2>

<% @ticket.comments.each do |comment| %>
<p>
  <strong><%= comment.user %></strong><br/>
  <%= comment.created_at.strftime("%I:%M%p %b %d") %>
</p>
<%=markdownify comment.body %>
</p>
<hr/>
<% end %>

<h3>Add a new comment</h3>
<%= form_for [@ticket, @comment] do |f| %>
  <p><%= f.text_area :body %></p>
  <p><em>Processed with Markdown</em></p>
  <% if current_user.role?(:agent) %>
  <p><%= check_box_tag 'send_to_user' %> <%= label_tag 'send_to_user' %></p>
  <% end %>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
