<!DOCTYPE html>
<html>
<head>
  <title>Aszist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

  <div id="container">

    <header>
      <h1 id="logo"><%= link_to image_tag('logo.png'), :root %></h1>
      <div id="user_actions">
        <%= render 'devise/menu/login_items' -%><br/>
        <%= link_to "Manage users", users_path if can? :manage, User unless current_user.nil? %>
      </div>
      <% unless notice.to_s.empty? %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </header>

    <section id="content">
      <%= yield %>
    </section>

    <footer>
      <p>Powered by <%= link_to image_tag('logo_small.png'), 'https://github.com/philtr/aszist' %>.</p>
    </footer>
  </div>

</body>
</html>
