<!DOCTYPE html>
<html>
<head>
  <title>Aszist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

  <%= render 'layouts/navigation' %>

  <div id="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>

</body>
</html>
